#intro{
    display:none;
    }

#span_intro{
    background-color:white;
    display: block;
    border: 2px solid black; /* Borda preta de 2px */
    border-radius: 10px; /* Vértices arredondados */
    padding: 5px; /* Opcional: adiciona um pouco de espaçamento interno ao redor do conteúdo */
}

#submit_username{
    width:150px;
    height:auto;
    filter: drop-shadow(0 3px 3px black);
}

#iniciar_jogo{
    width:50px;
    height:auto;
    margin-top:5px;
}

HTML{
    background-color:black;
}


body{
    min-width:300;
    max-width:378;
    height: 667px;
    display:flex; 
    justify-content: center;
    text-align:center;
    background-image: url(./img/deck.png);
    background-size: 378px;  /* Mantém a imagem cobrindo toda a área */
    background-position: center -5px;  /* Alinha horizontalmente no centro e desloca a imagem 50px para baixo */
    background-repeat: no-repeat;  /* Evita a repetição da imagem */
    }


#carta_um{
    width:300px;
    height:auto;
    margin-top: -10px; 
    box-shadow:  0 5px 5px black;
    }

#div_batalha{
    display:flex;
    margin-top: -15px; 
    }

#texto_batalha{
    background-color:white;
    display: none;
    justify-content: center;
    border: 2px solid black; /* Borda preta de 2px */
    border-radius: 10px; /* Vértices arredondados */
    padding: 5px; /* Opcional: adiciona um pouco de espaçamento interno ao redor do conteúdo */
}

#span_batalha{
    position:relative;
    height:500px;
    background-color:none;
    
    }

#span_cor {
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
}

#span_botoes_batalha{
    display:flex;
    color:red;
    flex-direction:column;
    background-color:red;
    position:relative;
    }

.botao_batalha{
    background-color:rgba(255, 255, 255, 0);
    font-size:0px;
    width:229px;
    border:none;
    margin:3px;
    height:24px;
    outline: none;
}

#div_botao_batalha{
    position:absolute;
    top:-203px;
    left:0px;
}

/* .botao_batalha:hover{ */
    /* opacity:1; */
    /* box-shadow: 0 0 0 3px yellow; */
/* } */

.botao_batalha:focus { /* por algum motivo se tirar buga o botao de "proximo"*/
    /* outline: none; /* Remove o outline do foco */ 
    box-shadow: none; /* Remove qualquer box-shadow do foco */
}


#popUpFinal{
    display:none;
    width:300px;
    height:430px;
    top:60px;
    background-color:rgba(0, 0, 0, 0.0);
    z-index:10;
    position:absolute;
}

#span_resultado{
    font-size:45px;
    /* color:red; */
    background-color:white;
    margin-top:10px;
    display:none;
    border: 2px solid black; /* Borda preta de 2px */
    border-radius: 10px; /* Vértices arredondados */
    padding: 5px; /* Opcional: adiciona um pouco de espaçamento interno ao redor do conteúdo */
}

#botao_proximo_round{
    width:200px;
    height:auto;
    margin-top:200px;
    margin-left:15px;
    filter: drop-shadow(0 3px 3px black);
}

#botao_reiniciar{
    width:200px;
    height:auto;
    filter: drop-shadow(0 3px 3px black);
}

#div_deck{
    /* background-color:purple; */
    z-index:20;
    top:510px;
    position:absolute;
    display:none;
}

#img_deck_cartas{
    width:auto;
    height:60px;
    filter: drop-shadow(0 2px 2px black);
}

.imagem {
    opacity: 0;
    transform: translateY(50px);  /* Para efeito de "de cima para baixo", use translateY(-50px) */
    transition: opacity 1s ease, transform 1s ease;
}

.imagem.mostrar {
    opacity: 1;
    transform: translateY(0); /* A imagem volta para sua posição original */
}

.imagem.sairCima {
    opacity: 0; /* A imagem se torna invisível */
    transform: translateY(-50px); /* A imagem se move para cima, como se estivesse saindo */
}

.imagem.sairBaixo {
    opacity: 0; /* A imagem se torna invisível */
    transform: translateY(+50px); /* A imagem se move para cima, como se estivesse saindo */
}

#id_estrelas{
    width:80px;
    height:auto;
}

#textoFinal{
    margin-top:-40px;
}
